{% extends ('::base.html.twig')  %}
{% block body %}

    <h2>Add Post</h2>


    {{ form_start(form,{'attr':{'class':'form-horizontal', 'id':'form_post'}}) }}

    <div class="form-group">
        {{ form_label(form.type)}}

        <div class="col-md-10">
            {{ form_widget(form.type)}}
        </div>
    </div>

    <div id="group_title" class="form-group hidden">
        {{ form_label(form.title)}}

        <div class="col-md-10">
            {{ form_widget(form.title)}}
        </div>
    </div>


    <div id="group_caption" class="form-group hidden">
        {{  form_label(form.caption)}}

        <div class="col-md-10">
            {{ form_widget(form.caption)}}
        </div>
    </div>

    <div id="group_link" class="form-group hidden">
        {{  form_label(form.link)}}

        <div class="col-md-10">
            {{ form_widget(form.link)}}

            <div id="upload_input">
                <p class="text-center"><strong>OR</strong></p>
                {{ form_widget(form.imageFile)}}
            </div>
        </div>
    </div>

    <div id="group_content" class="form-group hidden">
        {{  form_label(form.content)}}

        <div class="col-md-10">
            {{ form_widget(form.content)}}
        </div>
    </div>


    <div id="group_categories" class="form-group hidden">
        {{  form_label(form.category)}}

        <div class="col-md-10">
            {{ form_widget(form.category)}}
        </div>
    </div>

    <div id="group_tags" class="form-group hidden">
        {{  form_label(form.tags)}}

        <div class="col-md-10">
            {{ form_widget(form.tags)}}
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
    <script src="{{ asset('js/post-form.js') }}"></script>
{% endblock %}