{% extends ('::base.html.twig')  %}
{% block body %}

    {% if not edition %}
        <h2>Add a post</h2>
    {% else %}
        <h2>Modify a post</h2>
    {% endif %}


    {{ form_start(form,{'attr':{'class':'form-horizontal', 'id':'form_post'}}) }}

    {% if not edition %}
        <div class="form-group">
                {{ form_label(form.type)}}

            <div class="col-md-10">
                {{ form_widget(form.type)}}
            </div>
        </div>
    {% else %}
        {{ form_widget(form.type)}}
    {% endif %}

    <div id="group_title" class="form-group hidden">
        {{ form_label(form.title)}}

        <div class="col-md-10">
            {{ form_widget(form.title)}}
            {% if form.title.vars.errors|length %}
                <div class="alert alert-danger">{{ form_errors(form.title) }}</div>
            {% endif %}
        </div>
    </div>

    <div id="group_link" class="form-group hidden">
        {{  form_label(form.link)}}

        <div class="col-md-10">
            {{ form_widget(form.link)}}
            {% if form.link.vars.errors|length %}
                <div class="alert alert-danger">{{ form_errors(form.link) }}</div>
            {% endif %}

            <div id="upload_input">
                <p class="text-center"><strong>OR</strong></p>
                {{ form_widget(form.imageFile)}}
                {{ form_widget(form.title)}}
                {% if form.imageFile.vars.errors|length %}
                    <div class="alert alert-danger">{{ form_errors(form.imageFile) }}</div>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="group_caption" class="form-group hidden">
        {{  form_label(form.caption)}}

        <div class="col-md-10">
            {{ form_widget(form.caption)}}
        </div>
    </div>

    <div id="group_content" class="form-group hidden">
        {{  form_label(form.content)}}

        <div class="col-md-10">
            {{ form_widget(form.content)}}
            {% if form.content.vars.errors|length %}
            <div class="alert alert-danger">{{ form_errors(form.content) }}</div>
            {% endif %}
        </div>
    </div>

    <div id="group_categories" class="form-group hidden">
        {{  form_label(form.category)}}

        <div class="col-md-10">
            {{ form_widget(form.category)}}
            {% if form.category.vars.errors|length %}
                <div class="alert alert-danger">{{ form_errors(form.category) }}</div>
            {% endif %}
            {% if not edition and is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.anonymous)}}Post as anonymous (you can't modify a anonymous post)
                    </label>
                </div>
                {% do form.anonymous.setRendered %}
            {% endif %}
        </div>
    </div>

    {#<div id="group_tags" class="form-group hidden">#}
        {#{{  form_label(form.tags)}}#}

        {#<div class="col-md-10">#}
            {#{{ form_widget(form.tags)}}#}
        {#</div>#}
    {#</div>#}
    {% if not edition %}
        {% do form.anonymous.setRendered %}
    {% endif %}

    {{ form_rest(form) }}

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
    <script src="{{ asset('js/post-form.js') }}"></script>
{% endblock %}