<div class="post col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{ post.title }}</h3>
        </div>
        <div class="panel-body">
            {% if post.type == "video" %}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ post.link }}" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="description">
                    <strong>Description :</strong>
                    <p>
                        {% if post.caption %}
                            {{ post.caption }}
                        {% else %}
                            <i>No description</i>
                        {% endif %}
                    </p>
                </div>

            {% elseif post.type == "link" %}
                <div class="post-link">
                    <a href="{{ asset(post.link) }}">{{ post.link }}</a>
                </div>
                <div class="description">
                    <strong>Description :</strong>
                    <p>
                        {% if post.caption %}
                            {{ post.caption }}
                        {% else %}
                            <i>No description</i>
                        {% endif %}
                    </p>
                </div>
            {% elseif post.type == "text" %}
                <p>{{  post.content }}</p>

            {% elseif post.type == "picture" %}
                <div class="post-picture">
                    <img src="{{ asset(post.imageUrl) }}" alt="Image not found">
                </div>
                <div class="description">
                    <strong>Description :</strong>
                    <p>
                        {% if post.caption %}
                            {{ post.caption }}
                        {% else %}
                            <i>No description</i>
                        {% endif %}
                    </p>
                </div>


            {% else %}

            {% endif %}

            {% if post.modificationdate %}
                <div class="pull-right"><i>(modified)</i></div>
            {% endif %}
        </div>
        <div class="panel-footer">
            {% if is_granted('ROLE_ADMIN') or (is_granted('IS_AUTHENTICATED_FULLY') and app.user.id is sameas(post.user.id)) %}
                <div class="pull-right"><a href="{{ path('main_user_post_delete', {'id': post.id}) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></div>
                <div class="pull-right"><a href="{{ path('main_user_post_edit', {'id': post.id}) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></div>
            {% endif %}
            {% if post.user.id is not empty %}
                By <a href="{{ path('main_user_profile', {'id': post.user.id}) }}"><strong>{{ post.user.pseudo }}</strong></a>
            {% else %}
                By <strong>{{ post.user.pseudo }}</strong>
            {% endif %}
            on {{ post.creationDate|date("m/d/Y h:m:s") }}
        </div>
    </div>
</div>