{% extends ('::base.html.twig')  %}
{% block head %}
    <style>
        nav{
            display: none;
            background-color:red;
        }
    </style>
{% endblock %}
{% block body %}
    {% if error %}
        <div class="alert alert-dismissible alert-danger">{{error.message | replace({
                "Bad credentials": "Invalid username/password"
            }) }}</div>
    {% endif %}
    <div class="form">
        <ul class="tab-group">
            <li class="tab active"><a href="#signup">Sign Up</a></li>
            <li class="tab"><a href="#login">Log In</a></li>
        </ul>

        <div class="tab-content">
            <div id="signup">
                <h1>Sign Up</h1>
                {{ form_start(form) }}
                {{ form_errors(form) }}

                <div class="top-row">

                    <div class="field-wrap">
                        {{  form_label(form.lastName)}}
                        {{ form_widget(form.lastName)}}

                    </div>

                    <div class="field-wrap">
                        {{  form_label(form.firstName)}}
                        {{ form_widget(form.firstName)}}

                    </div>

                </div>

                <div class="field-wrap">
                    {{  form_label(form.pseudo)}}
                    {{ form_widget(form.pseudo)}}
                    {% if form.pseudo.vars.errors|length %}
                        <div class="alert alert-danger">{{ form_errors(form.pseudo) }}</div>
                    {% endif %}
                </div>

                <div class="field-wrap">
                    {{ form_label(form.password.first)}}
                    {{ form_widget(form.password.first)}}
                    {% if form.password.vars.errors|length %}
                        <div class="alert alert-danger">{{ form_errors(form.password) }}</div>
                    {% endif %}

                </div>

                <div class="field-wrap">
                    {{ form_label(form.password.second)}}
                    {{ form_widget(form.password.second)}}

                </div>

                <div class="field-wrap">
                    {{  form_label(form.mail)}}
                    {{ form_widget(form.mail)}}
                    {% if form.mail.vars.errors|length %}
                        <div class="alert alert-danger">{{ form_errors(form.mail) }}</div>
                    {% endif %}

                </div>

                {{ form_end(form) }}

            </div>


            <div id="login">

                <h1>Welcome back !</h1>

                <form method="POST" action="{{ path('login_check') }}" class="form-horizontal">

                    <div class="field-wrap">
                        <label>Username</label>
                        <input id="username" name="_username" type="text" value="{{ last_username }}" required>

                    </div>

                    <div class="field-wrap">
                        <label>Password</label>
                        <input id="password" name="_password"  type="password" required>
                    </div>

                    <button type="submit" class="button button-block">Login</button>

                </form>
            </div>

        </div>
    </div>



{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/login-form.js') }}"></script>
    <script src="{{ asset('js/background-moving.js') }}"></script>
    <script src="{{ asset('js/form.js') }}"></script>
{% endblock %}

