{% extends('::base.html.twig') %}
{% block body %}
    <h2>Profile</h2>
    <div class="col-md-8">
        <p><strong>Username : </strong>{{ app.user.username }}</p>
        <p><strong>Email : </strong>{{ app.user.mail }}</p>
        <p><strong>First name : </strong>{{ app.user.firstname }}</p>
        <p><strong>Last name : </strong>{{ app.user.lastname }}</p>
    </div>
    <div class="col-md-4">
        <img src="{{ asset(app.user.imageurl) }}" alt="" class="img-thumbnail">
        <p><strong>Modify image :</strong></p>
    </div>
{% endblock %}

