{%  extends ('::base.html.twig') %}

{% block body %}

        <h2>{{ user.username }}'s profile <small><a href="{{ path('main_user_profile') }}">Go to my profile</a></small></h2>
        <div class="col-md-9">
            <p><strong>Username : </strong>{{ user.username }}</p>
            <p><strong>First name : </strong>{{ user.firstname }}</p>
            <p><strong>Last name : </strong>{{ user.lastname }}</p>
            <p><strong>Creation date : </strong>{{ user.createdDate|date("m/d/Y") }}</p>
        </div>
        <div class="col-md-3">
            <img src="{{ asset(user.imageurl) }}" alt="" class="img-thumbnail center-block">
        </div>

{% endblock %}

